In [1]:
import pandas as pd

In [2]:
%%time
df_e = pd.read_csv("C:/Users/Daniel/Desktop/proyecto/notebooks/tweets_enero.csv", sep = ";")
df_f = pd.read_csv("C:/Users/Daniel/Desktop/proyecto/notebooks/tweets_febrero.csv", sep = ";")
df_m = pd.read_csv("C:/Users/Daniel/Desktop/proyecto/notebooks/tweets_marzo.csv", sep = ";")
df_a = pd.read_csv("C:/Users/Daniel/Desktop/proyecto/notebooks/tweets_abril.csv", sep = ";")
df = pd.concat([df_e, df_f, df_m, df_a])

Wall time: 3min 44s

In [3]:
df.head()

,date,time,username,tweet,mentions,urls,photos,replies_count,retweets_count,likes_count,hashtags,retweet,video,reply_to,trend
0,2020-01-30 00:00:00,1900-01-01 00:52:46,jandyta76,"Zeynep le dice a Faruk que no va a ir con él, ...",NaN,1,1,5.0,7.0,30.0,"zeymeh,i̇brahimçelikkol,demetözdemir,benimkaderim",0,0.0,NaN,Zeynep
1,2020-01-30 00:00:00,1900-01-01 00:07:10,carlosozdemir,@Andrea45883391 Los 2 papá no quieren para nad...,NaN,1,1,0.0,0.0,0.0,benimkaderim,0,0.0,NaN,Zeynep
2,2020-01-29 00:00:00,1900-01-01 23:59:28,demet_spain,"Mañana toca madrugar, así que os deseo que pas...",NaN,1,1,1.0,1.0,4.0,"demetozdemir,demetözdemir,doğduğunevkaderindir...",0,0.0,NaN,Zeynep
3,2020-01-29 00:00:00,1900-01-01 23:36:12,rafirafi2412,@Andrea45883391 No hubo avance se quedo que a ...,NaN,1,1,1.0,3.0,3.0,NaN,0,0.0,NaN,Zeynep
4,2020-01-29 00:00:00,1900-01-01 23:22:07,goalyolanda,Mejor la suegra de Zeynep k la madre Sakine #B...,NaN,1,1,1.0,3.0,2.0,benimkaderim,0,0.0,NaN,Zeynep

In [4]:
df.shape

(6537191, 15)

In [5]:
df.to_csv("todos_tweets.csv", sep = ";", index = False)