In [1]:
import numpy as np
import pandas as pd

In [5]:
df_d = pd.read_csv("C:/Users/Daniel/Documents/GitHub/SuperProyecto/clasificacion/daniel_clasificacion.csv", sep = ";")
df_i = pd.read_csv("C:/Users/Daniel/Documents/GitHub/SuperProyecto/clasificacion/ismael_clasificacion.csv", sep = ";")
df_c = pd.read_csv("C:/Users/Daniel/Documents/GitHub/SuperProyecto/clasificacion/carlos_clasificacion.csv", sep = ";")
#df_p = pd.read_csv("C:/Users/Daniel/Documents/GitHub/SuperProyecto/clasificacion/pilar_clasificacion.csv", sep = ";")

df = pd.concat([df_d, df_i, df_c], axis = 1)
df.head()

   Daniel  Ismael  Puntos
0       2       2       2
1       2       1       1
2       1       1       1
3       0       1       0
4       2       3       2

In [6]:
df.columns = ["daniel", "ismael", "carlos"]

df.head()

   daniel  ismael  carlos
0       2       2       2
1       2       1       1
2       1       1       1
3       0       1       0
4       2       3       2

In [12]:
df[df.daniel == ""]

C:\Users\Daniel\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [daniel, ismael, carlos]
Index: []