In [1]:
import pandas as pd
import json

from datetime import datetime

In [2]:
def to_dict(string):
    if string != "[]":
        string = json.loads(string.replace("'", "\""))
        return ",".join([s["screen_name"] for s in string])
    return ""

def to_list(list_):
    if list_ != "[]":
        list_ = list_[1:-1]
        list_ = list_.split(",")
        return ",".join([s.strip().strip("'") for s in list_])
    return ""

In [5]:
%%time
df = pd.read_csv("C:/Users/Daniel/Desktop/proyecto/notebooks/tweets_abril.csv", sep = ";")

<string>:2: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.

Wall time: 1min 51s

In [6]:
#df.info()

In [7]:
df.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest', 'trend'],
      dtype='object')

In [8]:
columns_to_drop = ["conversation_id", "cashtags", "timezone", "user_id", "name", "near", "geo", "source",
                   "user_rt_id", "user_rt", "retweet_id", "retweet_date", "translate", "trans_src",
                   "trans_dest", "place", "quote_url", "thumbnail", "created_at", "id", "link"]

df.drop(columns_to_drop, axis = 1, inplace = True)

df = df[df.language == "es"]

df.drop("language", axis = 1, inplace = True)

df = df.reset_index().drop("index", axis = 1)

In [9]:
#df.head()

In [10]:
#df.info()

In [11]:
df.columns[df.isna().all()]

Index([], dtype='object')

In [12]:
df.photos = df.photos.apply(lambda x : 1 if x != "[]" else 0)

In [13]:
df.retweet = df.retweet.apply(lambda x : 1 if x == "True" else 0)

In [14]:
df.urls = df.urls.apply(lambda x : 1 if x != "[]" else 0)

In [15]:
%%time
df.date = df.date.apply(lambda x : datetime.strptime(x, "%Y-%m-%d"))

Wall time: 1min 13s

In [16]:
%%time
df.time = df.time.apply(lambda x : datetime.strptime(x, "%H:%M:%S"))

Wall time: 1min 15s

In [17]:
for col in df.columns:
    if df[col].dtype == "int64":
        df[col] = df[col].astype("int32")

In [18]:
reply_to_rows = []
for num, row in enumerate(df.reply_to):
    try:
        to_dict(row)
    except:
        reply_to_rows.append(num)

In [19]:
df.drop(reply_to_rows, inplace = True)

In [20]:
df.reply_to = df.reply_to.apply(to_dict)

In [21]:
df = df.reset_index().drop("index", axis = 1)

In [22]:
mention_rows = []
for num, row in enumerate(df.mentions):
    try:
        to_dict(row)
    except:
        mention_rows.append(num)

In [23]:
df.drop(mention_rows, inplace = True)

In [24]:
df.mentions = df.mentions.apply(to_dict)

In [25]:
df = df.reset_index().drop("index", axis = 1)

In [26]:
hashtags_rows = []
for num, row in enumerate(df.hashtags):
    try:
        to_list(row)
    except:
        hashtags_rows.append(num)

In [27]:
len(hashtags_rows)

0

In [28]:
df.drop(hashtags_rows, inplace = True)

In [29]:
df.hashtags = df.hashtags.apply(to_list)

In [30]:
df = df.reset_index().drop("index", axis = 1)

In [31]:
df

,date,time,username,tweet,mentions,urls,photos,replies_count,retweets_count,likes_count,hashtags,retweet,video,reply_to,trend
0,2020-04-27,1900-01-01 00:42:32,_juan_escribano,"@PauloFutre gracias por el ""like"", ÍDOLO, cont...",,0,0,0,0,2,"atleti,futre,117añosresistiendo",0,0,,#117AnosResistiendo
1,2020-04-27,1900-01-01 00:33:26,joaofvlix,"solo entiende mi locura, quien comparte mi pas...",,0,1,1,0,18,117añosresistiendo,0,1,,#117AnosResistiendo
2,2020-04-27,1900-01-01 00:01:28,rocir86,No teníamos la camiseta en casa así que bajamo...,,0,1,0,1,10,"117anosresistiendo,forzaatleti",0,1,,#117AnosResistiendo
3,2020-04-26,1900-01-01 23:58:46,fa82oficial,No queríamos que se acabara el día sin felicit...,atleti,0,0,2,238,1191,117añosresistiendo,0,0,,#117AnosResistiendo
4,2020-04-26,1900-01-01 22:53:29,johanna_hb_,117 años de sentimiento y #117AñosResistiendo ...,atleti,0,1,0,2,65,117añosresistiendo,0,1,,#117AnosResistiendo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454485,2020-04-18,1900-01-01 02:04:51,soqui32034616,"@ccarballo50 Muchas gracias, Dr. por el tiempo...",,0,0,0,0,0,,0,0,,Íker Jiménez
1454486,2020-04-18,1900-01-01 02:04:25,manucdl,Carlos Enric &gt; Iker Jiménez,,0,0,0,1,1,,0,0,,Íker Jiménez
1454487,2020-04-18,1900-01-01 02:03:29,lamascott_,Viendo un directo de Iker Jiménez a las dos de...,,0,0,3,0,9,,0,0,,Íker Jiménez
1454488,2020-04-18,1900-01-01 02:01:57,vikinguer93,@wallstwolverine Yo me planteo votar a Iker Ji...,,0,0,0,1,2,,0,0,wallstwolverine,Íker Jiménez
1454489,2020-04-18,1900-01-01 02:00:47,briganty1910,@ccarballo50 Buenas Noches Doctor acabó de ve...,,0,0,0,0,0,,0,0,,Íker Jiménez

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1454490 entries, 0 to 1454489
Data columns (total 15 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   date            1454490 non-null  datetime64[ns]
 1   time            1454490 non-null  datetime64[ns]
 2   username        1454490 non-null  object
 3   tweet           1454490 non-null  object
 4   mentions        1454490 non-null  object
 5   urls            1454490 non-null  int32
 6   photos          1454490 non-null  int32
 7   replies_count   1454490 non-null  int32
 8   retweets_count  1454490 non-null  int32
 9   likes_count     1454490 non-null  int32
 10  hashtags        1454490 non-null  object
 11  retweet         1454490 non-null  int32
 12  video           1454490 non-null  int32
 13  reply_to        1454490 non-null  object
 14  trend           1454490 non-null  object
dtypes: datetime64[ns](2), int32(7), object(6)
memory usage: 127.6+ MB

In [33]:
df.to_csv("tweets_abril.csv", sep = ";", index = False)

In [34]:
df.shape

(1454490, 15)